@using Models
@inherits UmbracoTemplatePage
@{
    Layout = "umbLayout.cshtml";
}


<div id="main-wrapper">
    <div id="main" class="container">
        <div class="row">
            <div class="12u">
                @Html.Partial("Login", Model)
                <hr/>
                @Html.Partial("ExternalLoginsList", new ExternalLoginListViewModel { Action = "ExternalLogin", ReturnUrl = ViewBag.ReturnUrl })
                <hr />
                @Html.Partial("LoginStatus", Model)
                <hr />
                @Html.Partial("Register", Model)
            </div>
        </div>
    </div>
</div>
