# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: windows-latest
    
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
      
    # Get the latest v* tag name to set the version build number
    - run: |
        echo ::set-env name=UMB_IDENTITY_VERSION::$(git -C ${{github.workspace}} tag -l v* | tail -n1 )
    
    # Runs a single command using the runners shell
    - name: Build
      run: .\Build\Build-Release.ps1 -ReleaseVersionNumber ${{env.umb_identity_version}}-build.${{github.run_number}} -IsBuildServer 0
      shell: powershell
  
    - uses: actions/upload-artifact@v2
      with:
        name: Nuget
        path: build\Release\*.nupkg
